@model CourseWork.Models.Group

@{
    ViewData["Title"] = "Моя группа";
}

<h1>Моя группа</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Создать группу</a>
</p>

@if (Model != null)
{
    <div>
        <h4>Название группы: @Html.DisplayFor(model => model.GroupName)</h4>
        <h4>Баланс: @Html.DisplayFor(model => model.Balance)</h4>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.GroupId">Edit</a> |
            <a asp-action="AddUserToGroup" asp-route-id="@Model.GroupId">Details</a> |
            <a asp-action="Delete" asp-route-id="@Model.GroupId">Delete</a>
        </div>
    </div>
}
else
{
    <p>Вы еще не создали группу.</p>
}
