@model IEnumerable<CourseWork.Models.Report>

@{
    ViewData["Title"] = "Сохраненные отчеты";
}

<div class="widget mb-3">
    <div class="p-4">
        <h4 class="fw-bold">Сохраненные отчеты</h4>
    </div>
    <div class="px-4 pb-4">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th>Доход</th>
                    <th>Расход</th>
                    <th>Баланс</th>
                    <th>Тип отчета</th>
                    <th>Действия</th> <!-- Добавлен столбец для действий -->
                </tr>
            </thead>
            <tbody>
                @foreach (var report in Model)
                {
                    <tr>
                        <td>@report.StartDate.ToShortDateString()</td>
                        <td>@report.EndDate.ToShortDateString()</td>
                        <td>@report.TotalIncome.ToString("N0") ₸</td>
                        <td>@report.TotalExpense.ToString("N0") ₸</td>
                        <td>@report.Balance.ToString("N0") ₸</td>
                        <td>@report.Type</td>
                        <td>
                            <form asp-action="DeleteReport" asp-route-id="@report.Id" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

